<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <div class="col-xs-12 col-md-12 col-sm-12">
      <div class="background-a">
        <div class="Lfont">
          PROFILE GENERATOR
        </div>
        <div class="Ofont">
          Simple Profile Generator
        </div>
      </div>
    </div>
  </header>
  
  <div class="frame card_offset">
      <div class="card">
          <div class="details">
            <div class="user_photo horizontal_center" id="user_photo">
              <img src="{{ data.picture }}"></div>
              <div id="name">{{data.name}}</div>
              <div id="number">{{data.number}}</div>
              <div id="email">{{data.email}}</div>
              <form>
              <input type="submit" value="Refresh" (click)="RefreshData()">
              <input type="button" value="Post Data" (click)="PostData()">
            </form>
          
            </div>

      </div>
  
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
        </tr>
        <tr *ngFor="let u of data.UserList">
          <td>{{u.name}}</td>
          <td>{{u.email}}</td>
          <td>{{u.number}}</td>
        </tr>
      </table>

  </div>
</body>

</html>